#headerForSecondPage {
    display: flex;
    text-align: center;
    margin-top: 200px;
    font-size: 3.5em;
    letter-spacing: 0.2em;
}

#startBtnDiv {
    display: flex;
    justify-content: center;
    align-content: center;
}

.startBtn {
    background: transparent;
    color: white;
    font-size: 1.3em;
    text-align: center;
    cursor: pointer;
    width: 180px;
    height: 80px;
    border: 2px solid #00ff43;
    border-radius: 24px;
    transition: 0.25s;
    letter-spacing: 0.2em;
}

.startBtn:hover {
    background: #00ff43;
    box-shadow: 0 0 15px #00ff43;
}